/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* logo light: #f0ea4c */
/* logo middle: #dcb925 */
/* logo dark: #b99c37 */

.btn-style {
  background-image: linear-gradient(to bottom right, #f0ea4c, #dcb925);
}

.banner-title {
  font-size: 370%;
}

.custom-font {
  font-size: 55px;
}

.custom-width-1 {
    width: 10%;
  }
.custom-width-2 {
    width: 90%;
  }

/* Responsiveness(according to bootstrap breakpoints)*/

/* Large Device */
@media only screen and (max-width: 992px) {
  /* Banner */
  .banner-title {
    font-size: 250%;
    text-align: center;
  }

  .custom-font {
    font-size: 45px;
  }
}

/* Medium Device */

/* Banner */
@media only screen and (max-width: 768px) {
  /* Services */

  .card-title {
    font-size: 30px;
  }

  .title-size {
    font-size: 16px;
  }

  
  .flex-direction {
    flex-direction: column;
  }

  .custom-width-1,.custom-width-2 {
    width: 100%;
  }
}

/* Small Device */

@media only screen and (max-width: 576px) {
  /* Banner */
  .banner-title {
    font-size: 220%;
  }

  .title-size {
    font-size: 12px;
  }

  .custom-font {
    font-size: 30px;
  }

}
